@charset "UTF-8";

:root { /*adc minhas opções nas confg*/
    --cor00:#ffea0052;
    --cor0:#FAEF75;
    --cor1:#F9ED62;
    --cor2:#F9EB4D;
    --cor3:#F9E939;
    --cor4:#F8E725;
    --cor5:#F8E515;
    --cor6:#EDDA07;
    --cor7:#b89601;
}

body{
    background-color:var(--cor00);
}

main {
    background-image: linear-gradient(to left, var(--cor6), var(--cor3) );
    min-width: 300px;
    max-width: 800px;/*800px*/
    margin: auto;
    margin-bottom: 30px;
    border-radius:10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    text-align: center;
}

main > h1{
    margin: auto;

}


main strong{
    font-weight: bolder;
    font-size:20px;

}

aside > ul {
    list-style-position: inside;
    text-align: left;
}

main > aside{
    background-color: var(--cor1);
    padding: 23px;
    border-radius: 33px;
    box-shadow: 3px 3px 8px rgb(0 0 0 / 28%);
}

aside > h2{
    text-align: left;
    padding-inline-start: 40px;
}

aside a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor7);
    background-color: var(--cor1);
    padding: 2px 6px;
    transition-duration: .5s;
}

aside a:hover{
    background-color: var(--cor7);
    color: var(--cor1);
}

footer {
   text-align: center;
}